<div class="container">
    <div class="row">
        <div class="col-12" style="margin-top: 20px">
            <mat-card style="margin: 50px">
                <mat-error class="alert alert-primary">Update avatar success</mat-error>
                <button (click)="reload()" mat-stroked-button color="accent"
                        class="mat-button-toggle-group btn-outline-danger">Đã Rõ
                    <mat-icon color="primary" matSuffix>logout</mat-icon>
                </button>
            </mat-card>

        </div>

    </div>

</div>
