<div>
    <input type="file" (change)="onFileChanged($event)"><br>
    <mat-progress-bar *ngIf="checkUploadFile" mode="indeterminate"></mat-progress-bar>
    <button *ngIf="downloadURL?!selectedFile:selectedFile" mat-stroked-button color="accent" class="mat-button-toggle-group btn-outline-primary" (click)="onUpload()">Upload File</button>
    <div *ngIf="downloadURL" style="margin-bottom: 10px; margin-top: 10px">
        <audio controls>
            <source [src]="downloadURL" style="width: 350px; height: auto">
        </audio>

    </div>
</div>
